# Open one csv file

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('./DataFile/SameCol1.csv')

In [3]:
df

  name address  phone
0    a     USA      5
1    b      UK      4
2    c     CAN      3

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   name     3 non-null      object
 1   address  3 non-null      object
 2   phone    3 non-null      int64
dtypes: int64(1), object(2)
memory usage: 200.0+ bytes

In [5]:
df.describe()

       phone
count    3.0
mean     4.0
std      1.0
min      3.0
25%      3.5
50%      4.0
75%      4.5
max      5.0

# Open one text file

In [12]:
path = './DataFile'

In [13]:
path

'./DataFile'

In [16]:
###reading one text file
with open(path+'/Test2.txt',"r") as file:
    text_test = file.read()

In [17]:
text_test

'1) Is Belfast a good place for testing? This test has to be checked.\n\n2) Test will be carried out soon!\n\n3) This is to just to check.\n\nit might cost £25.00\n\nthis amounts to hypocrysy.\n\nhigh quality goods will be given\n\nuseful in belfast or not useful?'

In [ ]:
#### reading multiple text files and making a list
file_contents = []
for path in file_list:
    with open(file_path,"r") as file:
        text = file.read()
        text = remove_special_characters(text)
        text = remove_whitespace(text)
        # print(text)
        # print("next file...\n")
        file_contents.append(text)

# To open multiple text files

In [38]:
import glob
import os

In [39]:
path = './DataFile'

In [40]:
file_list = glob.glob(path+"/*.txt")

In [41]:
file_list

['./DataFile/Test1.txt', './DataFile/Test2.txt', './DataFile/Test3.txt']

In [42]:
corpus = []

In [43]:
for file_path in file_list:
    with open(file_path, encoding="utf8") as f_input:
        corpus.append(f_input.read())

In [44]:
corpus

['This is to test. on 16/10/2022\n\n\n2) Test data for the purpose of testing.\n\n3) Is it useful? This is belfast.\n\nthis amounts to high volumem of sales.\n\nhigh quality goods will be expected. \n                  goods are expected from China.',
 '1) Is Belfast a good place for testing? This test has to be checked.\n\n2) Test will be carried out soon!\n\n3) This is to just to check.\n\nit might cost £25.00\n\nthis amounts to hypocrysy.\n\nhigh quality goods will be given\n\nuseful in belfast or not useful?',
 'When will the documents be checked???? This does not look normal for testing.\n\n\n\n\n\n\n\n\nTest has to be carried out soon as suggested by everyone on the team!!!\n\n\t\t\tThis will help to check if testing is .\n\nthis amounts to $50.\n\nhigh quality goods will be provided']

In [45]:
import pandas as pd

In [46]:
df = pd.DataFrame(file_list, columns=['Filenames'])

In [47]:
df

              Filenames
0  ./DataFile/Test1.txt
1  ./DataFile/Test2.txt
2  ./DataFile/Test3.txt

In [48]:
df["Content"] = pd.DataFrame(corpus)

In [49]:
df.head(3)

              Filenames                                            Content
0  ./DataFile/Test1.txt  This is to test. on 16/10/2022\n\n\n2) Test da...
1  ./DataFile/Test2.txt  1) Is Belfast a good place for testing? This t...
2  ./DataFile/Test3.txt  When will the documents be checked???? This do...

In [51]:
#save file as csv
df.to_csv('Text_combined.csv', index=False)

# Open multiple csv files

In [31]:
import pandas as pd
import glob

In [32]:
path = './DataFile'

In [33]:
file_list = glob.glob(path+"/*.csv")

In [34]:
file_list

['./DataFile/SameCol2.csv',
 './DataFile/SameCol3.csv',
 './DataFile/SameCol1.csv']

In [35]:
df = pd.concat(map(pd.read_csv, file_list))

In [36]:
df

  name address  phone
0    d     Nep      7
1    e      Ch      8
2    f     Rus      9
0    g     Ukr     10
1    h     Mal     11
2    f     Rus      9
0    a     USA      5
1    b      UK      4
2    c     CAN      3

In [37]:
#save file as csv
df.to_csv('CSV_combined.csv', index=False)